/* powder-blue: #B4DCDB; */
/* salmon: #ED786D; */
/* dark blue gray: #685B86 */
/* ming: #016D77 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

html {
    color: #685B86;
    font-family: 'Vidaloka', serif;
    height: 100%;
}

body { 
    background-image: linear-gradient(to right top,#685b86, #55608b, #40648d, #29688a, #106b84, #217588, #307e8b, #40888e, #5f9ca0, #7bb1b3, #98c6c7,#b4dcdb, #b4dcdb);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.mainContain {
    overflow: hidden;
    display: grid;
    place-items: center;
}

.userHolder {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    font-size: 1em;
}

header p {
    width: 200px;
    font-size: 1em;
}

nav {
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 2em;
    background:rgba(255,255,255, 0.1);
}

nav button {
    padding: 15px;
    margin-left: 20%;
    margin-right: 20%;
}

.usernameSearch button {
    margin-left: 5px;
    margin-right: 20%;
}

.usernameSearch, .projectHolder {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* nav {
    padding: 15px;
} */

/* img {
    margin: 2%;
} */

p {
    padding: 10px;
    margin: 5px;
}

button {
    background-color: #016D77;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 12px;
}

input {
    margin: 2%;
    background-color: #C9E4E4;
    border-radius: 4px;
    border-color: #685B86;
    color: #685B86;
    padding-left: 5px;
    margin-left: 20%;
}

.projectInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin: 2px;
    /* border: 2px solid #685B86; */
    border-radius: 8px;
    background-color: #C9E4E4;
    width: clamp(210px, 50%, 210px);
}

.projectInfo p {
    width: 200px;
    text-align: center;
}

.projectInfo img {
    margin-bottom: 15px;
}

#profileInfo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: auto;
    width: 300px;
    height: 580px;
    margin-left: 8%;
    margin-top: 1%;
    -ms-overflow-style:none;
    scrollbar-width: none;
}

.modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
    overflow: hidden;
}
.modal-content{
    background-color: #f4f4f4 ;
    margin: 20% auto;
    padding:  20px;
    width:  70%;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.17)
}
.closeBtn{
   color: #ccc;
   float: right;
   font-size: 30px; 
}
.closeBtn:hover,.closeBtn:focus{
    color:black;
    text-decoration: none;
    cursor: pointer;
}
.projectInfoBtns {
    display: flex;
    place-content: center;
    margin-bottom: 15px;
}

footer {
    background-color: rgba(255,255,255, 0.1);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}
::-webkit-scrollbar {
    display: none;
}

button:hover {
    color: #685B86;
}

a:link, a:active, a:visited {
    color: white;
    text-decoration: none;
  }
  
  a:hover, a:focus {
    color: #685B86;
  }

button:hover, button:focus {
    cursor: pointer;
}

/* dropdown menu styling */
.menu-container {
    background-color: none;
    padding: 0 1rem;
    display: grid;
    place-items: center;
    height: 59px;
  }
  
  .menu-container li {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    place-items: center;
  }
  
  .dropdown__menu {
    grid-auto-flow: column;
  }
  
  .dropdown__menu li {
    margin: 0 0.5rem;
  }
  
  .dropdown__title {
    background-color: transparent;
    border: none;
    font-family: inherit;
    font-size: 1.125rem;
    text-align: center;
    display:none;
  }
  
  .dropdown__title a {
    text-decoration: none;
    text-align: center;
    display: inline-block;
    font-size: 1.125rem;
    padding: 1rem 0.5rem;
    display: inline-flex;
    align-items: center;
  }
  
  .dropdown {
    position: relative;
  }
  
  .dropdown__menu {
    background-color: #B4DCDB;
    border-radius: 4px;
    box-shadow: 0 0.15em 0.25em rgba(black, 0.25);
    padding: 0.5em 0;
    min-width: 10ch;
    position: absolute;
    top: calc(100% - 0.25rem);
    left: 50%;
    transform: translateX(-50%);
    transform: rotateX(-90deg) translateX(-50%);
    transform-origin: top center;
    opacity: 0.3;
    transition: 280ms all 120ms ease-out;
  }
  
  .dropdown__menu a {
    display: block;
    padding: 0.5em;
  }
  
  /* .dropdown .ally-focus-within:focus .dropdown__menu */
  
  .dropdown:hover .dropdown__menu, .dropdown:focus-within .dropdown__menu {
    opacity: 1;
    transform: rotateX(0) translateX(-50%);
    visibility: visible;
  }
  
  .dropdown__title:after {
    content: "";
    border: 0.35rem solid transparent;
    border-top-color: rgba(blue, 0.45);
    margin-left: 0.25em;
    transform: translateY(0.15em);
  }
  /* dropdown menu styling */

@media only screen and (min-width: 461px) {
    #profileInfo {
        width: 900px;
        height: 487px;
        margin-left: 0;
    }
    .logo {
        width: 300px;
        height: 300px;
    }
    #projectDetail {
        height: 250px;
        width: 100%;
    }
    #imageDetails {
        display: grid;
        place-items: center;
    }
    #imageDetailsText {
        margin: auto;
        text-align: center;
    }
    .modal-content {
        width: clamp(10ch, 25%, 26ch);
        display: flex;
        flex-direction: column;
        padding: 1rem;
    }

    header p {
        width: 600px;
        font-size: 1.5em;
    }
    nav {
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    nav button {
        margin: 2%;
    }

    .usernameSearch button {
        margin-right: 30%;
    }
}

@media (min-width: 300px) and (max-width: 461px) {
    #projectDetail {
        height: 250px;
        width: 100%;
    }
    #imageDetails {
        display: grid;
        place-items: center;
    }
    #imageDetailsText {
        margin: auto;
        text-align: center;
    }
    .logo {
        width: 150px;
        height: 150px;
    }
    #profileInfo {
        margin: 0px;
    }
    .modal-content {
        width: clamp(30ch, 25%, 36ch);
        display: flex;
        flex-direction: column;
        padding: 1rem;
    }
}
