* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

html {
    color: #685B86;
    font-family: 'Vidaloka', serif;
}

header, .userHolder {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.usernameSearch, .projectHolder {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

img {
    margin: 2%;
}

p {
    padding: 10px;
    margin: 5px;
}
    /* powder-blue: #B4DCDB; */
    /* salmon: #ED786D; */
    /* dark blue gray: #685B86 */
    /* ming: #016D77 */

button {
    background-color: #685B86;
    border: none;
    color: white;
    padding: 15px;
    margin: 2%;
    border-radius: 12px;
}

input {
    margin: 2%;
}

main img {
    width: 200px;
    border: 2px solid #ED786D;
}

.projectInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2px;
    border: 2px solid #685B86;
    border-radius: 8px;
}

.projectInfo p {
    width: 200px;
    text-align: center;
}

#profileInfo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: auto;
    width: 300px;
    height: 300px;
    margin-left: 8%;
    margin-top: 2%;
}

@media only screen and (min-width: 961px) {
    #profileInfo {
        width: 900px;
        height: 1000px;
        margin-left: 0;
    }

}